/* Small devices (mobile) */
@media only screen and (max-width: 600px) {
    .hamburger {
        display: flex;
        align-items: flex-end;
        width: 100%;
    }

    header {

        padding: 1rem;
    }

    .logo p {
        margin-left: 0rem;
    }



    .navbar-items {
        display: none;
        align-items: center;
        justify-content: flex-end;
        flex-grow: 1;
        margin-right: 0.5rem;
    }



    .container {
        display: inline-block;
        padding: 1rem;
    }

    .hero {
        position: relative;
        left: -5%;
        top: 20%;
        width: 60%;
        font-size: 2rem;
        max-width: 600px;
        font-weight: 800;
    }

    .sub-title {
        width: 80%;
        top: -1%;
        left: -2%;
        max-width: 500px;
    }

    .btn-items {
        position: absolute;
        width: 100%;
        top: 20%;
        left: -5%;
        max-width: 800px;
        margin-top: 2rem;
        gap: 0.5rem;
    }

    .join,
    .download {
        padding: 15px 26px;
    }

    .header-imge {
        max-width: 100%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: inherit;
        align-items: center;
        margin-top: 50px;

    }

    .banner-img {
        object-fit: cover;
        margin-top: 5rem;
    }




    /* NEw */
    .tutorial,
    .workout {
        width: 30%;
        max-width: 300px;
        padding: 26px 22px;
    }

    .tutorial {
        position: absolute;
        left: 0;
        top: 76%;
    }

    .workout {
        position: absolute;
        left: 50%;
        top: 50%;
    }




    .container::after {
        display: block;
        margin: 20px auto;
        position: absolute;
        top: 81%;
        left: 25px;
        width: 36px ;
        height: 36px;
    }

    .main-title {
        padding-top: 0.5rem;
        max-width: 100%;
        font-size: 1.9rem;
    }

    .sub {
        font-size: 1rem;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }

    .box {
        flex: 1 1 100%;
        max-width: 300px;
        border-radius: 8px;
    }

    .box img {
        width: 100%;
        max-width: 200px;
        height: auto;
    }

    .section-benefits,
    .section-training {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .advantage {
        flex-direction: column;
        max-width: 100%;
        margin: 3rem;
    }

    .advantage-heading h2 {
        width: 100%;
        font-size: 2rem;
        letter-spacing: 1px;
    }

    .advantage-sub {
        font-size: 1rem;
        width: 100%;
    }

    .advantage-image {
        width: 100%;
        max-width: 800px;

    }

    .running {
        width: 100%;
        height: auto;

    }

    .section-training {
        display: block;
        padding: 1rem;
    }

    .heading-training {
        font-size: 2rem;
    }




    .training-image {
        display: grid;
        grid-template-columns: repeat(3, minmax(100px, 1fr));
        grid-template-rows: repeat(2, minmax(100px, 1fr));
        gap: 1rem;
        width: 100%;
        max-width: 800px;
        margin: auto;
    }

    .img-container {
        width: 100%;
        font-size: 1.5rem;
        border-radius: 8px;
        overflow: hidden;
        position: relative;
        flex: 1 1 100%;
    }

    .exercise-images {
        width: 100%;
        height: auto;
        object-fit: cover;
        transition: transform 0.5s ease;
    }




    .img-container:nth-child(1)::after,
    .img-container:nth-child(2)::after,
    .img-container:nth-child(3)::after,
    .img-container:nth-child(4)::after,
    .img-container:nth-child(5)::after,
    .img-container:nth-child(6)::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 80%;
        opacity: 0;
    }


    .img-container:hover .exercise-images {
        transform: scale(1.1);
    }

    .bmi {
        margin: 0;
    }

    .heading-bmi {
        padding: 0;
    }


    .sub-bmi {
        font-size: 1rem;
        margin-left: 0;
    }

    .section-chart {
        padding: 1rem;
    }

    .chart-container {
        display: inline-block;
        width: 100%;
    }

    .bmi-table {
        width: 100%;
        max-width: 800px;
        background-color: #444444;
        border-radius: 10px;
        padding: 10px;
        margin: 20px 0;
        text-align: center;
    }


    .table-heading {
        font-size: 1.5rem;
        margin: 0;
        padding: 2rem;
    }

    table {
        margin-left: 0;
        display: inline-block;

    }


    .bmi-table th,
    .bmi-table td {
        padding: 10px;
    }

    .bmi-calculator {
        padding: 1rem;
    }

    .calculator-sub {
        padding: 1rem 0;
    }



    .section-team {
        padding: 2rem;
    }

    .team-heading,
    .team-sub {
        padding: 0.5rem 0;
    }


    .team-container {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        max-width: 800px;
        margin-left: 4px;
    }



    .footer {
        background-color: #111111;
        padding: 2rem;
        color: white;
    }

    .about {
        width: 100%;
        margin-top: 0;
    }

    .footer-container {
        display: inline;
        margin: 0;
    }


    .title {
        padding: 1rem;
    }

    .subtitle {
        padding: 1rem;
    }


    .get-started {

        padding: 1rem;
        width: 100%;
        margin-left: 0rem;
    }

    .services {
        width: 100%;
        padding: 1rem;
        margin-top: 1.9rem;
        margin-left: 0rem;
    }

    hr {
        width: 100%;
        margin: 0;
    }

    .footer-text {
        margin: 0;
        font-size: 14px;
    }
    .tomato {
        font-family: 'Miama', sans-serif;
        font-size: 3rem;
        margin-left: -10px;
    }
    .noClass,
.tutorial-text{ 
        margin-left: 20px;
    }

}