@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.font-style{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.display-flex{
  display: flex;
}

.nav-bar{
  justify-content: space-between;
  
}
.nav-items{
  list-style: none;
  margin-right: 45px;

}

.nav-links{
  text-decoration: none;
 
}
.nav-bar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}
header{
  background-color: rgba(17, 17, 17, 1.00);
}
  